.scroll {
    overflow-y: scroll;
      
    .inner {
      content: '.';
      width: 100%;
    }
    
    // Simple
    &--simple::-webkit-scrollbar {
      width: 6px;
      height: 6px;
    }

    &--simple::-webkit-scrollbar-track {
      border-radius: 1rem;
      background: rgba(0,0,0,0.2);
    }

    &--simple::-webkit-scrollbar-thumb{
      border-radius: 10px;
      background: rgba(0,0,0,0.2);
    }

    &--simple::-webkit-scrollbar-thumb:hover{
        background: rgba(0,0,0,0.4);
    }

    &--simple::-webkit-scrollbar-thumb:active{
        background: rgba(0,0,0,.9);
    }
}
