// Fonts
$font-family-sans: 'DM Sans', sans-serif;
$font-family-serif: 'DM Serif Display', serif; 

// Colors
$white: #ffffff;
$beige: #EBDDD0;
$beige-light: #F4EAE3;
$beige-dark: #CDBAA8;
$purple-dark: #34354E;